@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container-right {
  padding-left: calc((100% - 1270px) / 2 + 15px);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}
body a {
  color: #fff;
}

.none {
  display: none !important;
}

.header {
  overflow: hidden;
  min-height: 940px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
  position: relative;
  padding-top: 44px;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(../img/header/Vector\ 6.svg);
  background-size: 100%;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.nav-bar__logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.nav-bar__list {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
  font-size: 15px;
  line-height: 22px;
}
.nav-bar__profile {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
}
.nav-bar__sing-up {
  font-size: 15px;
  line-height: 22px;
}
.nav-bar__login {
  font-size: 15px;
  border-radius: 100px;
  display: inline-block;
  padding: 13px 44px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
}

.block {
  display: flex;
}

.content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}
.content__btn {
  font-size: 18px;
  border-radius: 15px;
  display: inline-block;
  padding: 11px 30px 12px 31px;
  background: rgba(255, 255, 255, 0.25);
  line-height: 27px;
}
.content__title {
  font-size: 55px;
  line-height: 82px;
  color: #fff;
  margin-bottom: 30px;
}
.content__text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 68px;
}
.content__btn1 {
  font-size: 25px;
  border-radius: 27px;
  display: inline-block;
  padding: 27px 47px 26px 48px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  font-weight: 600;
  line-height: 38px;
}

.photo {
  position: relative;
  flex-grow: 1;
}
.photo__img {
  position: absolute;
  top: -181px;
  right: -105px;
  width: 894px;
  height: 940px;
  max-width: unset;
}

.destination {
  padding: 96px 0 100px;
  overflow-x: hidden;
}
.destination__row {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.destination__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 15px;
  color: #0f1f1c;
}
.destination__title span {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
}
.destination__text {
  color: rgba(15, 31, 28, 0.5);
  font-size: 25px;
  line-height: 38px;
  max-width: 456px;
  margin-bottom: 60px;
}
.destination__button {
  font-size: 20px;
  border-radius: 27px;
  display: inline-block;
  padding: 25px 44px 24px 45px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  line-height: 30px;
  font-weight: 600;
}
.destination__button--link {
  color: #fff;
}
.destination__slider {
  max-width: 1025px;
  flex-shrink: 0;
}

.slider {
  position: relative;
  height: 456px;
}
.slider__item--link {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  border-radius: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in;
}
.slider .center .slider__item--link {
  margin-top: 0;
  width: 380px;
  height: 456px;
}
.slider__btn {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  z-index: 9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
}
.slider__btn--prev {
  left: -27px;
  padding-left: 26px;
  justify-content: flex-start;
}
.slider__btn--next {
  right: -5px;
  padding-right: 26px;
  justify-content: flex-end;
}

.customers {
  padding: 100px 0 133px;
}
.customers__row {
  display: flex;
  -moz-column-gap: 68px;
       column-gap: 68px;
  color: #0f1f1c;
}
.customers__img--link {
  width: 478px;
  height: 537px;
  border-radius: 60px;
}
.customers__title {
  font-size: 45px;
  line-height: 68px;
  font-weight: 500;
  margin-bottom: 35px;
}
.customers__comment {
  display: flex;
  align-items: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
  margin-bottom: 60px;
}
.customers__user {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 71.5px;
  background: #FF794E;
}
.customers__name {
  font-weight: 500;
  font-size: 33px;
  line-height: 50px;
  margin-bottom: 10px;
}
.customers__country {
  color: rgba(15, 31, 28, 0.5);
  font-size: 25px;
  line-height: 38px;
}
.customers__text {
  color: rgba(15, 31, 28, 0.5);
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 30px;
}

.cta {
  padding: 100px 0;
}
.cta__plate {
  position: relative;
  background: #FFFFFF;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 580px;
  padding: 40px 15px;
}
.cta__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 68px;
  margin-bottom: 30px;
  color: #0f1f1c;
}
.cta__text {
  margin-bottom: 60px;
  line-height: 45px;
  font-size: 30px;
  color: rgba(15, 31, 28, 0.5);
}
.cta__btn {
  font-size: 20px;
  border-radius: 27px;
  display: inline-block;
  padding: 25px 54px 24px 55px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  font-weight: 600;
  line-height: 30px;
}
.cta__plate::before, .cta__plate::after {
  position: absolute;
  width: 63px;
  height: 83px;
  content: "";
}
.cta__plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url("./../img/4-page/cta-el-02.svg");
}
.cta__plate::after {
  top: 74px;
  right: 80px;
  background-image: url("./../img/4-page/cta-el-01.svg");
}

.subscribe {
  pad: 35px 0 50px;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscribe__title {
  margin-bottom: 60px;
  max-width: 494px;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}

.subscribe__content {
  padding: 35px 0 69px;
}

.subscribe-form {
  background-color: #FFFFFF;
  border-radius: 35px;
  padding: 12px 15px 12px 46px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 800px;
  justify-content: space-between;
}
.subscribe-form__input {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: inline-block;
}
.subscribe-form__input::-moz-placeholder {
  color: rgba(15, 31, 28, 0.5);
}
.subscribe-form__input:-ms-input-placeholder {
  color: rgba(15, 31, 28, 0.5);
}
.subscribe-form__input::placeholder {
  color: rgba(15, 31, 28, 0.5);
}
.subscribe-form__btn {
  color: #fff;
  font-size: 25px;
  border-radius: 35px;
  display: inline-block;
  padding: 34px 87px 33px 86px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  font-weight: 600;
  line-height: 38px;
}

.footer--nav {
  padding: 50px 0 87px;
}
.footer--logo {
  color: #FF7C4E;
}
.footer--link {
  color: rgba(15, 31, 28, 0.5);
}