@import 'nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//TODO: Миксин для кнопок будет
@mixin sampleButton($fz, $br, $d, $p, $back) {
	font-size: $fz;
	border-radius: $br;
	display: $d;
	padding: $p;
	background: $back;
}

//TODO: Цвет градиента
$grad: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;

//TODO: переменные для стилей текста
$regular: 400;
$media: 500;
$semiBold: 600;
$bold: 700;

$cont: 1270px;
$pad: 15px;
$col: rgba(15, 31, 28, 0.5);

// .active::after {
// 	content: "";
// 	position: absolute;
// 	left: 0;
// 	bottom: -6px;
// 	right: 10px;
// 	display: block;
// 	height: 4px;
// 	border-radius: 50px;
// 	background-color: #C4C4C4;
// }

.container-right {
	padding-left: calc((100% - $cont) / 2 + $pad);
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	color: #0f1f1c;
	a {
		color: #fff;
	}
}

.none {
	display: none !important;
}
//? Header
.header {
	overflow: hidden;
	min-height: 940px;
	background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
		#204434;
	position: relative;
	padding-top: 44px;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 96px;
		background-image: url(../img/header/Vector\ 6.svg);
		background-size: 100%;
	}
}
//TODO:  в этом блоке весь контент
.container {
	max-width: $cont;
	margin: 0 auto;
	padding: 0 $pad;
}
//TODO: єто меню-бар
.nav-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
	align-items: center;
	column-gap: 80px;
	&__logo {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
	}

	&__list {
		display: flex;
		column-gap: 80px;
		font-size: 15px;
		line-height: 22px;
	}

	&__profile {
		display: flex;
		column-gap: 25px;
		align-items: center;
	}

	&__sing-up {
		font-size: 15px;
		line-height: 22px;
	}
	&__login {
		@include sampleButton(15px, 100px, inline-block, 13px 44px, $grad);
	}
}

//TODO: Текст слева от картинки
.block {
	display: flex;
}
.content {
	max-width: 592px;
	position: relative;
	z-index: 1;
	&__btn {
		@include sampleButton(
			18px,
			15px,
			inline-block,
			11px 30px 12px 31px,
			rgba(255, 255, 255, 0.25)
		);
		line-height: 27px;
	}
	&__title {
		font-size: 55px;
		line-height: 82px;
		color: #fff;
		margin-bottom: 30px;
	}
	&__text {
		color: rgba(255, 255, 255, 0.5);
		font-weight: $bold;
		font-size: 25px;
		line-height: 38px;
		margin-bottom: 68px;
	}

	&__btn1 {
		@include sampleButton(25px, 27px, inline-block, 27px 47px 26px 48px, $grad);
		font-weight: $semiBold;
		line-height: 38px;
	}
}
//TODO: ФОТО СПРАВА ОТ ТЕКСТА В ШАПКЕ
.photo {
	position: relative;
	flex-grow: 1;
	&__img {
		position: absolute;
		top: -181px;
		right: -105px;
		width: 894px;
		height: 940px;
		max-width: unset;
	}
}

//TODO: ТЕКСТ СЛЕВА ОТ СЛАЙДЕРА
.destination {
	padding: 96px 0 100px;
	overflow-x: hidden;
	&__row {
		display: flex;
		column-gap: 50px;
	}
	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 45px;
		margin-bottom: 15px;
		color: #0f1f1c;
		span {
			font-weight: 600;
			font-size: 55px;
			line-height: 82px;
		}
	}
	&__text {
		color: $col;
		font-size: 25px;
		line-height: 38px;
		max-width: 456px;
		margin-bottom: 60px;
	}
	&__button {
		@include sampleButton(20px, 27px, inline-block, 25px 44px 24px 45px, $grad);
		line-height: 30px;
		font-weight: $semiBold;
	}
	&__button--link {
		color: #fff;
	}
	&__slider {
		max-width: 1025px;
		flex-shrink: 0;
	}
}

//! SLIDER: ЕТА ХУЕТА СУПЕР СЛОМАНА  ХЗ КАК ФИКСИТЬ, ОСТАВИЛ ПОМЕТКИ, ЧТО НЕ ТАК, ГДЕ НАСРАНО

.slider {
	position: relative;
	height: 456px;
	&__item--link {
		margin-top: 27px;
		width: 335px;
		height: 402px; //! ТУТ ВЕСЬ БЛОК ITEM НАСРАН
		border-radius: 35px;
		object-fit: cover;
		transition: 0.2s ease-in;
	}
	& .center &__item--link {
		margin-top: 0;
		width: 380px;
		height: 456px;
	}
	&__btn {
		display: block;
		width: 68px;
		height: 68px;
		border-radius: 50%;
		display: flex;

		z-index: 9;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		
		align-items: center;
		background: $grad;
	}
	&__btn--prev {
		left: -27px;
		padding-left: 26px;
		justify-content: flex-start;
	}
	&__btn--next {
		right: -5px; //! ТУТ ДОЛЖНО БІТЬ -27, НО Я НЕ ЕБУ ПОЧЕМУ, КОГДА НА ФУЛЛ ЄКРАН, ТАМ ЗАЛУПА СЬЕЗЖАЕТ, ЕСЛИ НЕ НА ФУЛЛ, ТО С -27 ВСЕ НОРМ
		padding-right: 26px;
		justify-content: flex-end;
	}
}

.customers {
	padding: 100px 0 133px;
  &__row {
		display: flex;
		column-gap: 68px;
		color: #0f1f1c;
	
	}
  &__img--link {
		width: 478px;
		height: 537px;
		border-radius: 60px;
	}
  &__title {
		font-size: 45px;
		line-height: 68px;
		font-weight: $media;
		margin-bottom: 35px;
	}
  &__comment {
		display: flex;
		align-items: center;
		column-gap: 33px;
		margin-bottom: 60px;
	}
  &__user {
		overflow: hidden;
		width: 134px;
		height: 134px;
		border-radius: 71.5px;
		background: #FF794E;
	}
  &__name {
		font-weight: $media;
		font-size: 33px;
	line-height: 50px;
	margin-bottom: 10px;
	}
  &__country {
		color: $col;
		font-size: 25px;
		line-height: 38px;
	}
  &__text {
		color: $col;
		font-weight: $media;
		font-size: 22px;
		line-height: 33px;
		margin-bottom: 30px;
	}

}

.cta {
	padding: 100px 0;

  &__plate {
		position: relative;
		background: #FFFFFF;
		border-radius: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		min-height: 580px;
		padding: 40px 15px;
	}
  &__title {
		font-weight: 500;
		font-size: 45px;
		line-height: 68px;
		margin-bottom: 30px;
		color: #0f1f1c;
	}
  &__text {
		margin-bottom: 60px;
		line-height: 45px;
		font-size: 30px;
		color: $col;
	}
  &__btn {
		@include sampleButton(20px, 27px, inline-block, 25px 54px 24px 55px, $grad);
		font-weight: 600;
		line-height: 30px;
	
	}

	&__plate::before,
	&__plate::after {
		position: absolute;
		width: 63px;
		height: 83px;
		content: "";
	}
	&__plate::before {
		left: 74px;
		bottom: 56px;
		background-image: url("./../img/4-page/cta-el-02.svg");
	}
	&__plate::after {
		top: 74px;
		right: 80px;
		background-image: url("./../img/4-page/cta-el-01.svg");
	}
}

